<div class="navbar navbar-expand-sm navbar-light navbar-lewagon<%= " no-bg" if current_page?(root_path)  %>"
     data-controller="navbar"
     data-action="scroll@window->navbar#updateNavbar">
  <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <nav class="navbar-menu">
    <ul class="nav nav-pills nav-fill mr-auto">
      <%= link_to "Menu 1", "#", class: "nav-link active" %>
      <%= link_to "Menu 2", "#", class: "nav-link" %>
      <%= link_to "Menu 3", "#", class: "nav-link" %>
      <%= link_to "Contactez-nous", "#", class: "btn btn-outline-danger" %>
    </ul>
  </nav>
</div>
