<% provide(:title, "Accueil") %>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'background.jpg' %>);">
  <div class="container">
    <h1>Votre voyage personnalisé à Cuba !</h1>
    <p>Découvrez nos programmes originaux aux meilleurs prix.</p>
  </div>
</div>

<div class="container">
  <h1 class="text-center mt-3">Découvrez Cuba</h1>
  <div class="discover">
    <div class="discover-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'photo1.jpg' %>);">
      <p>Plages</p>
    </div>
    <div class="discover-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'photo2.jpg' %>);">
      <p>Culture</p>
    </div>
    <div class="discover-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path 'photo3.jpg' %>);">
      <p>Cigares</p>
    </div>
  </div>

  <div class="guarantees">
    <h1 class="text-center mt-3">Pourquoi voyager avec Cubacolor ?</h1>
    <ul class="guarantees-list list-inline mt-3">
      <li class="list-inline-item">
        <i class="fas fa-address-book"></i>
        <p>Texte</p>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-address-book"></i>
        <p>Texte</p>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-address-book"></i>
        <p>Texte</p>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-address-book"></i>
        <p>Texte</p>
      </li>
      <li class="list-inline-item">
        <i class="fas fa-address-book"></i>
        <p>Texte</p>
      </li>
    </ul>
  </div>

    <h1 class="text-center mt-3">Qui sommes-nous ?</h1>
  <div class="intro">
    <div class="intro-text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <%= link_to "Contactez-nous", "#", class: "btn btn-danger" %>
    </div>
    <%= image_tag "team.jpg" %>
  </div>

</div>
